node_modules/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# game used as output folder, ignore everything except single file
game/*
!1-extract-ui-data.bat
!images

